.videos {
    height: 70%;
    overflow: auto;
    border-radius: 4px;
    border: 1px solid #272b36;
}

.videos::-webkit-scrollbar {
    width: 12px;
    background-color: #1a1a1a;
}

.videos::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #303030;
}

.videos > h4 {
    flex: 1;
    margin: 0;
    user-select: none;
    font-style: italic;
    align-self: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.videos > .video {
    padding: 12px;
    display: flex;
    max-height: 15vh;
    border-bottom: 1px solid #272727;
}

.videos > .video > * {
    margin-right: 18px;
}

.videos > .video > img.thumbnail {
    width: 28vh;
    height: 15vh;
    background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ccc' stroke-width='4' stroke-dasharray='12%2c 17%2c 13' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e") 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.videos > .video > .titles {
    flex: 1;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.videos > .video > .titles > p {
    margin: 0;
    max-width: 31vh;
    overflow: hidden;
    width: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.videos > .video > .titles > small {
    display: flex;
    width: fit-content;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.videos > .video > .titles > small > img.avatar {
    width: 4vh;
    color: #ccc;
    height: 4vh;
    margin-right: 6px;
    border-radius: 50%;
}

.videos > .video > .buttons > * {
    width: 34px;
    height: 34px;
    padding: 4px;
    cursor: pointer;
}

.videos > .video > .buttons > *:not(:first-child) {
    display: none;
    visibility: hidden;
}

.videos > .video > .buttons > .download {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 512 512' width='24'%3E%3Cg id='Solid'%3E%3Cpath d='m239.029 384.97a24 24 0 0 0 33.942 0l90.509-90.509a24 24 0 0 0 0-33.941 24 24 0 0 0 -33.941 0l-49.539 49.539v-262.059a24 24 0 0 0 -48 0v262.059l-49.539-49.539a24 24 0 0 0 -33.941 0 24 24 0 0 0 0 33.941z' style='&%2310; fill: %23cccc;&%2310;'/%3E%3Cpath d='m464 232a24 24 0 0 0 -24 24v184h-368v-184a24 24 0 0 0 -48 0v192a40 40 0 0 0 40 40h384a40 40 0 0 0 40-40v-192a24 24 0 0 0 -24-24z' style='&%2310; fill: %23ccc;&%2310;'/%3E%3C/g%3E%3C/svg%3E") 50% 50%;
    background-repeat: no-repeat;
}

.videos > .video > .buttons > .downloaded {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 415.869 415.869' width='24' height='24'%3E%3Cg%3E%3Cpath d='M125.91,170.841c-5.747-6.269-15.673-6.792-21.943-1.045c-6.269,5.747-6.792,15.673-1.045,21.943 l78.89,85.682c3.135,3.135,6.792,5.224,10.971,5.224c0,0,0,0,0.522,0c4.18,0,8.359-1.567,10.971-4.702L403.853,78.89 c6.269-6.269,6.269-16.196,0-21.943c-6.269-6.269-16.196-6.269-21.943,0L193.829,244.506L125.91,170.841z' fill='%23ccc'/%3E%3Cpath d='M400.196,192.261c-8.882,0-15.673,6.792-15.673,15.673c0,97.175-79.412,176.588-176.588,176.588 S31.347,305.11,31.347,207.935S110.759,31.347,207.935,31.347c8.882,0,15.673-6.792,15.673-15.673S216.816,0,207.935,0 C93.518,0,0,93.518,0,207.935s93.518,207.935,207.935,207.935s207.935-93.518,207.935-207.935 C415.869,199.053,409.078,192.261,400.196,192.261z' fill='%23ccc'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E") 50% 50%;
    background-repeat: no-repeat;
}

.videos > .video > .buttons > .downloading {
    transform: rotate(-90deg);
}

@media screen and (min-width: 530px) {
    .videos > .video > .titles > p {
        max-width: 40vh;
    }
}

@media screen and (min-width: 600px) {
    .videos > .video > .titles > p {
        max-width: 50vh;
    }
}

@media screen and (min-width: 645px) {
    .videos > .video > .titles > p {
        max-width: 60vh;
    }
}

@media screen and (min-width: 655px) {
    .videos > .video > .titles > p {
        max-width: 75vh;
    }
}

@media screen and (min-width: 735px) {
    .videos > .video > .titles > p {
        max-width: 85vh;
    }
}

@media screen and (min-width: 780px) {
    .videos > .video > .titles > p {
        max-width: 90vh;
    }
}

@media screen and (min-width: 800px) {
    .videos > .video > .titles > p {
        max-width: 94vh;
    }
}

@media screen and (min-width: 830px) {
    .videos > .video > .titles > p {
        max-width: 100vh;
    }
}

@media screen and (min-width: 860px) {
    .videos > .video > .titles > p {
        max-width: 105vh;
    }
}

@media screen and (min-height: 530px) {
    .videos {
        height: 74vh;
    }
}

@media screen and (min-height: 640px) {
    .videos {
        height: 78vh;
    }
}

@media screen and (min-height: 730px) {
    .videos {
        height: 80vh;
    }
}