.search > .bar {
    display: flex;
    margin-bottom: 18px;
}

.search > .bar > #searchBar {
    flex: 1;
    color: #ccc;
    border: none;
    outline: none;
    padding: 10px;
    user-select: none;
    background-color: #303030;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-family: 'Roboto', sans-serif;
}

.search > .bar > #searchSubmit {
    width: 50px;
    border: none;
    outline: none;
    flex-shrink: 1;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #444444 !important;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 56.966 56.966'%3E%3Cpath d='M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23 s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92 c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17 s-17-7.626-17-17S14.61,6,23.984,6z' fill='%23FFF'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E") 50% 50%;
    background-repeat: no-repeat;
}

.search > .bar > #searchSubmit:active {
    filter: opacity(0.6);
}

.search > .bar > #searchSubmit[disabled] {
    filter: opacity(0.6);
    pointer-events: none;
}

.search > #searchResults {
    height: 70%;
    display: flex;
    overflow: auto;
    border-radius: 4px;
    border: 1px solid #272b36;
}

.search > #searchResults::-webkit-scrollbar {
    width: 12px;
    background-color: #1a1a1a;
}

.search > #searchResults::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #303030;
}

.search > #searchResults > h4 {
    flex: 1;
    margin: 0;
    font-weight: 400;
    user-select: none;
    font-style: italic;
    align-self: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.search > #searchResults > .video {
    padding: 12px;
    display: flex;
    max-height: 15vh;
    border-bottom: 1px solid #272727;
}

.search > #searchResults > .video > * {
    margin-right: 18px;
}

.search > #searchResults > .video > img.thumbnail {
    width: 28vh;
    height: 15vh;
    background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ccc' stroke-width='4' stroke-dasharray='12%2c 17%2c 13' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e") 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.search > #searchResults > .video > .titles {
    flex: 1;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.search > #searchResults > .video > .titles > p {
    margin: 0;
    max-width: 31vh;
    overflow: hidden;
    width: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search > #searchResults > .video > .titles > small {
    display: flex;
    width: fit-content;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search > #searchResults > .video > .titles > small > img.avatar {
    width: 4vh;
    color: #ccc;
    height: 4vh;
    margin-right: 6px;
    border-radius: 50%;
}

.search > #searchResults > .video > .buttons > * {
    width: 34px;
    height: 34px;
    padding: 4px;
    cursor: pointer;
}

.search > #searchResults > .video > .buttons > .download {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 512 512' width='24'%3E%3Cg id='Solid'%3E%3Cpath d='m239.029 384.97a24 24 0 0 0 33.942 0l90.509-90.509a24 24 0 0 0 0-33.941 24 24 0 0 0 -33.941 0l-49.539 49.539v-262.059a24 24 0 0 0 -48 0v262.059l-49.539-49.539a24 24 0 0 0 -33.941 0 24 24 0 0 0 0 33.941z' style='&%2310; fill: %23cccc;&%2310;'/%3E%3Cpath d='m464 232a24 24 0 0 0 -24 24v184h-368v-184a24 24 0 0 0 -48 0v192a40 40 0 0 0 40 40h384a40 40 0 0 0 40-40v-192a24 24 0 0 0 -24-24z' style='&%2310; fill: %23ccc;&%2310;'/%3E%3C/g%3E%3C/svg%3E") 50% 50%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 530px) {
    .search > #searchResults > .video > .titles > p {
        max-width: 40vh;
    }
}

@media screen and (min-width: 600px) {
    .search > #searchResults > .video > .titles > p {
        max-width: 50vh;
    }
}

@media screen and (min-width: 645px) {
    .search > #searchResults > .video > .titles > p {
        max-width: 60vh;
    }
}

@media screen and (min-width: 655px) {
    .search > #searchResults > .video > .titles > p {
        max-width: 75vh;
    }
}

@media screen and (min-width: 735px) {
    .search > #searchResults > .video > .titles > p {
        max-width: 85vh;
    }
}

@media screen and (min-width: 780px) {
    .search > #searchResults > .video > .titles > p {
        max-width: 90vh;
    }
}

@media screen and (min-width: 800px) {
    .search > #searchResults > .video > .titles > p {
        max-width: 94vh;
    }
}

@media screen and (min-width: 830px) {
    .search > #searchResults > .video > .titles > p {
        max-width: 100vh;
    }
}

@media screen and (min-width: 860px) {
    .search > #searchResults > .video > .titles > p {
        max-width: 105vh;
    }
}

@media screen and (min-height: 530px) {
    .search > #searchResults {
        height: 74vh;
    }
}

@media screen and (min-height: 640px) {
    .search > #searchResults {
        height: 78vh;
    }
}

@media screen and (min-height: 730px) {
    .search > #searchResults {
        height: 80vh;
    }
}